/* This is the CSS Code for the Login of the intranet
@authors Martin Stöcker, Julian Schwart, Florian Jonkheer and Lars Roth
v1.0 */

* {
    /* Set Font */
    font-family: Arial, Sans-Serif;
    font-size: 13px;
}

body {
    /* Set gradient Background */
    background: linear-gradient(#b5d1ff, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 120px;
}

#wrapper {
    /* Define max Windowwidth */
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

.logo {
    text-align: center;
}

input {
    /* Styling all Inputelements */
    width: 80%;
    padding: 10px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    box-sizing: border-box;
}

.shrink {
    /* Makes Objects smaller */
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #efefef;
}

h1 {
    text-align: center;
}

.nav_pane {
    white-space: normal;
    width: 200px;
    margin: 1%;
    border: 1px solid #efefef;
    height: 100px;
    font-size: 150%;
}

.center {
    text-align: center;
}