/* This is the CSS Code for the User-Management of the intranet
@authors Martin Stöcker, Julian Schwart, Florian Jonkheer and Lars Roth
v1.0 */


/* User-Management */

.blockify {
    /* Adds top and bottom margin */
    margin: 5% 0 5%;
}

.role_high {
    /* Highlights the role */
    color: #ff0000;
}

.search_card {
    margin-top: 1.5%;
}

.user {
    /* Styling for user-card */
    height: 225px;
    width: 200px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    float: left;
    line-height: 22px;
    cursor: pointer;
}

.user H1 {
    font-size: 120%;
    font-weight: bold;
}

.creation {
    color: #888888;
    font-size: 10pt;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.move_right {
    margin-left: 25%;
}


/* Main */

* {
    /* Set Font */
    font-family: Arial, Sans-Serif;
    font-size: 13px;
}

body {
    /* Set gradient background */
    background: linear-gradient(#b5d1ff, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 120px;
}

#wrapper {
    /* Defines max windowwidth */
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

.logo {
    text-align: center;
}

input {
    /* Styling of inputelements */
    width: 80%;
    padding: 10px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    box-sizing: border-box;
}